:root {
  --primary: #2292b1;
  --gradient-start: #1b3385;
  --gradient-end: #25c5c9;
  --background: #0a0c11;
  --body-text: #abadb3;
  --border-color: #323438;
  --sub-menu-bg: #222;
  --white: #fff;
  --base-font: 20px;
  --primary-font: "Poppins";
  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --normal: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --heavy: 900;
}

body {
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-size: var(--base-font);
  color: var(--body-text);
  background: var(--background);
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

.blocks {
  padding: 0 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  font-weight: var(--medium);
  color: var(--white);
  margin: 0;
}

h1 {
  font-size: 4em;
  line-height: 1.5em;
}
h4,
h5 {
  font-weight: var(--bold);
}

h6 {
  font-weight: var(--semi-bold);
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

a {
  color: var(--body-Text);
  text-decoration: none;
  font-size: 0.9em;
  font-style: normal;
  font-weight: var(--normal);
  line-height: 2.4em;
  text-transform: capitalize;
}

a:hover,
.logo:hover {
  color: var(--primary);
}

.selected {
  color: var(--primary);
}

.lowlight {
  opacity: 0.5;
}

.inner-container {
  max-width: 1400px;
  margin: 0 auto;
  border-color: goldenrod;
}

.gradient-button {
  padding: 15px 34.86px 16.08px 35px;
  display: inline-block;
  margin-top: 14px;
  color: var(--white);
  border-radius: 30px;
  font-size: 0.9em;
  font-weight: var(--bold);
  line-height: 1.6em;
  background: linear-gradient(
    90deg,
    var(--gradient-start) 0%,
    var(--gradient-end) 100%
  );
}

.gradient-button:hover {
  background: var(--white);
  color: var(--background);
}

.circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  position: absolute;
  left: -11px;
  top: -2px;
}

.circle:hover {
  background: rgba(255, 255, 255, 0.25);
}

* {
  border-width: 8px;
  border-style: dashed;
}

* .container,
* .grid,
* .footer-content,
* .copyright-container,
.blocks,
.hero *,
.hero .inner-container {
  border: none;
}

html,
body {
  border: none;
}

section,
footer,
.navigation nav {
  border: none;
}

.inner-container {
  padding: 8px;
  border-width: 8px;
  border-style: dashed;
  border-color: goldenrod;
}

.hero {
  border-color: gray;
}

.logo,
.navigation,
.social-links {
  border-color: green;
}

main {
  border-color: cyan;
}

.our-services,
.big-numbers {
  border-color: gray;
}

.our-services .container * {
  border-color: greem;
}

/* hero */

header {
  display: flex;
  gap: 8px;
  padding: 20px 0;
}

.logo,
.navigation,
.social-links {
  flex: 1;
  gap: 8px;
  display: flex;
  align-items: center;
}

.logo {
  justify-content: left;
}

.logo h2 {
  font-size: 1.6em;
  font-weight: var(--bold);
}

.logo h2:hover {
  color: var(--primary);
}

.navigation {
  justify-content: center;
  text-align: center;
}

.nav-mobile {
  display: none;
}

.nav-desktop {
  display: block;
}

.nav-desktop > ul {
  gap: 35px;
}

.nav-desktop li:nth-child(2) {
  position: relative;
}

.nav-desktop li:nth-child(2):hover {
  position: relative;
}

.nav-desktop li:nth-child(2) ul {
  display: none;
}

.nav-desktop li:nth-child(2):hover ul {
  display: block;
}

.sub-menu {
  display: block;
  background-color: var(--sub-menu-bg);
  position: absolute;
  margin: 0;
  left: 0;
  top: 40px;
  z-index: 99;
}

.sub-menu li {
  width: 235px;
  height: 46px;
  margin: 0;
  padding: 0 23px;
  text-align: left;
  border-bottom: 1px solid var(--border-color);
}

.sub-menu li:hover {
  padding: 0 30px;
}

.sub-menu a {
  font-size: 0.75em;
  line-height: 3.1em;
}

.social-links {
  justify-content: end;
}

.social-links ul {
  gap: 30px;
}

.social-links li {
  position: relative;
  display: flex;
  align-items: center;
}

main {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  padding: 79px 0 70px;
}

main p {
  font-size: 1.2em;
  line-height: 2.1em;
  margin-top: 24px;
}

.video-container video {
  width: 100%;
  max-width: 100%;
  max-height: 600px;
  object-fit: cover;
}

/* OUR SERVICES */

.our-services {
  padding: 131px 0;
}

.our-services .container {
  display: flex;
  gap: 1.5em;
  align-items: center;
}

.our-services .container > * {
  flex: 1;
}

.our-services .container img {
  width: 100%;
}

.our-services aside {
  padding: 0 100px;
}

.our-services aside p {
  margin: 20px 0;
}

.big-numbers {
  margin-top: 131px;
}

.big-numbers .container {
  display: flex;
  justify-content: center;
}

/* .big-numbers .number-box {
  border-color: green;
  flex: 1;
  text-align: center;
} */

.number-box h2 {
  font-weight: var(--bold);
}

/* Featured content */

/* .what-we-do {
  border-color: gray;
} */

.what-we-do .headings {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--border-color);
  padding: 42px;
}

.box img {
  width: 100%;
}

.box h4 {
  margin: 24px 0;
}

.box a {
  font-size: 0.8em;
  color: var(--body-text);
  position: relative;
  margin-top: 36px;
}

.box a:after {
  content: "";
  border-bottom: 2px solid var(--primary);
  position: absolute;
  width: 84px;
  height: 2px;
  left: 0;
  bottom: 0;
  transition: all 0.5s ease;
}

.what-we-do .grid {
  display: flex;
  gap: 1.5em;
  margin: 77px 0;
}

.what-we-do .grid * {
  flex: 1;
  display: flex;
}
