:root {
  --gradient-start: #1b3385;
  --gradient-end: #25c5c9;
  --primary-bg: #2292b1;
  --background: #0a0c11;
  --body-text: #abadb3;
  --border-color: #313438;
  --sub-menu-bg: #222;
  --white: #ffff;
  --base-font: 20px;
  --primary-font: "Poppins";
  --secondary-font: "Courier-Prime";
  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --normal: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --heavy: 900;
}

body {
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-size: var(--base-font);
  color: var(--body-text);
  background: var(--background);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  font-weight: var(--medium);
  color: var(--white);
  margin: 0;
}

h1 {
  font-size: 4em;
  font-weight: var(--medium);
  line-height: 1.5em;
}

h2 {
  font-size: 2em;
  font-weight: var(--medium);
  line-height: 2.85;
}

h3 {
  font-size: 1.47em;
  font-weight: var(--medium);
  line-height: 1.92em;
}

h4 {
  font-size: 1.4em;
  font-weight: var(--bold);
  line-height: 2.1em;
}

h5 {
  font-size: 1.2em;
  font-weight: var(--bold);
  line-height: 1.6em;
}

h6 {
  font-size: 1.44em;
  font-weight: var(--semi-bold);
  line-height: 1.4em;
}

a {
  color: var(--body-Text);
  text-decoration: none;
  font-size: 0.9em;
  font-style: normal;
  font-weight: var(--normal);
  line-height: 2.4em;
  text-transform: capitalize;
}

p {
  color: var(--bodytext);
  font-weight: var(--light);
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

header {
  background-color: var(--background);
  display: flex;
  width: 100%;
  margin: 0;
  height: 118.08px;
  padding-left: 96px;
  padding-right: 105px;
}

header * {
  flex: 1;
}

.logo {
  font-family: var(--primary-font);
  font-weight: var(--bold);
  font-size: 1.6em;
  color: var(--white);
}

.logo:hover,
a:hover {
  color: var(--primary-bg);
}

.selection {
  color: var(--primary-bg);
}

.nav li {
  margin: 0 18px;
}

.nav li:nth-child(2) ul {
  display: none;
}

.nav li:nth-child(2) {
  position: relative;
  min-width: 112px;
}

.nav li:nth-child(2):hover ul {
  display: block;
}

.ul-nav {
  position: absolute;
  top: 44px;
  left: -20px;
  z-index: 99;
}

.ul-nav li {
  width: 235px;
  height: 44px;
  background-color: var(--sub-menu-bg);
  border-bottom: 1px solid var(--border-color);
  padding-left: 23px;
}

.ul-nav a {
  font-size: 0.75em;
  font-weight: var(--normal);
}

.social {
  display: flex;
  padding: 9px;
  justify-content: flex-end;
}

.social li {
  flex: 0;
  padding: 0 16px;
}

/*.main section {
  width: 760px;
  margin: 0 auto;
  text-align: center;
}*/

/* main */
.main-box {
  width: 740px;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 35px;
}

.main-box p {
  margin-bottom: 50px;
  font-size: 1.2em;
  font-weight: var(--light);
}

.lowlight {
  opacity: 0.5;
}

.cta {
  padding: 15px 34.86px 16.08px 35px;
  background: linear-gradient(
    to right,
    var(--gradient-start) 0%,
    var(--gradient-end) 100%
  );
  border-radius: 1.5em;
  border: none;
  color: var(--white);
  font-family: var(--primary-font);
  font-weight: var(--bold);
  font-size: 0.9em;
  line-height: 1.404em;
  text-transform: capitalize;
}

.video-box {
  margin: 30px 60px 0;
}
